
a 
{
    text-decoration: none; 
    color: white; 
    font-weight: bolder;
}

a:hover
{
    color: orange;
}




#logo
{
	width: 100%;
	background: url("../images/logo/logo_yellow.png") no-repeat;
    background-position: left;
    background-size: 2.5em;
    text-decoration: none;
   
}

#logo:hover
{
    width: 100%;
    background: url("../images/logo/logo_white.png") no-repeat;
    background-position: left;
    background-size: 3em;
    text-decoration: none;
}



#wrap_header
{
    width: 100%;
    padding: 0px;
    margin:0px;
    text-transform: uppercase;
    line-height: 3em;
    padding-top: 1em;
}


.wrap_header
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#orange_nav a{color: orange;}
#orange_nav a:hover{color: white;}


.nav
{
    padding-left:4em;
}

@media only screen and (max-width:600px)
{
    .nav
    {
        padding-left:2em;
    }
}